---
layout: base
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.name | escape }}</h1>
  </header>

  <div class="post-content">

    <h3 class="post-title">{{ page.description | escape }}</h3>

    <!-- word cloud -->
    <div style="padding: 5%;">
      <img src={{ page.wordcloud | relative_url }} alt="Word cloud" width="400" height="200">
    </div>

    <!-- figure -->
    <h3>Interconnectedness</h3>
    <div style="padding: 5%;">
    <img src={{ page.interconnectedness | relative_url }} alt="Interconnectedness" width="600">
    </div>

    <!-- most cited articles -->
    <h3>Most cited articles</h3>
    <i>{{ page.article1 | markdownify }}</i>
    <i>{{ page.article2 | markdownify }}</i>
    <i>{{ page.article3 | markdownify }}</i>
    <i>{{ page.article4 | markdownify }}</i>
    <i>{{ page.article5 | markdownify }}</i>

    <!-- table - requires having '_data/*.csv'-->
    <h3>Missed connections</h3>
    <p>{{ page.missedconnections }}</p>

    <table>
      {% for row in site.data[page.missedconnections] %} 
        {% if forloop.first %}
        <tr>
          {% for pair in row %}
            <th>{{ pair[0] | markdownify }}</th>
          {% endfor %}
        </tr>
        {% endif %}
    
        {% tablerow pair in row %}
          {{ pair[1]  | markdownify }}
        {% endtablerow %}
      {% endfor %}
    </table>

  </div>

</article>

